@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.register-page {
  width: 500px;
  padding: 5% 0 2% 0;
  margin: auto;
}
.register_div {
  border-radius: 3%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  padding: 45px;
  /* text-align: center; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.register_div input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;

  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}
.register_div button.register_button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: green;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.register_div button:hover,
.register_div button:active,
.register_div button:focus {
  background: #044207;
}
.register_div .message {
  text-align: center;
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.register_div.message a {
  color: green;
  text-decoration: none;
}
.login-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

.id_div {
  display: inline;
  
  
}

.id_div input{
  border: 1px solid gray;
  

}
button.id_button {
  border-radius: 3%;
  text-transform: uppercase;
  outline: 0;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  width: 20%;
  border: 0;
  color: #ffffff;

  cursor: pointer;

  font-family: "Roboto", sans-serif;

  background: green;

  margin: 0 0 15px;
  padding: 12px 15px 15px 15px;
  box-sizing: border-box;
  font-size: 20px;
}
